/* @charset "utf-8";*/

/* 디자인할때 web font를 사용하면 해상도에 따른
호환성이 좋음
noto sans 라고 구글과 어도비가 합작해서 만든
아시아권에 최적화된 폰트 */
/* 우리가 사용할건 spoqa han sans */

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 이렇게 쓰면 전체 선택이 되기때문에 성능적 저하가 일어날 수 있음
그럴땐 body 후손 선택자로 *를 선택해준다. */

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
  /*검정색*/
  background: #fff;
}

/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}

/* 스킵 네비게이션 */
.skip-nav {
  display: none;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}

/* header */
.header {
  border-radius: 0 0 15px 15px;
  background: yellow;
  position: relative;
  padding: 0 30px;
}
/* 로고 */
.logo{
  position: absolute;
  top:50px;
  left: 65px;
  margin:0;
}
/*  안내 링크 목록 */
.member{
  margin: 0;
  padding-left : 0;
  list-style: none;
  font-size: 0;
  text-align: right;
}

.member li{
  display: inline-block;
  font-size: 1.4rem;
  padding: 2px 0;
}

.member li a{
  padding: 6px 0;
  display: inline-block;
  background: pink;
}

.visual {
  background: orange;
  height: 120px;
}

.main {
  background: green;
  /* display: flex; */
  /*단축속성! 원래 기본값인데 명시적 표현함*/
  /* flex-flow: row nowrap; */
  /* justify-content: space-evenly; */
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
}

.clearfix::after{
  content:"";
  clear: both;
  display: block;
}

.group {
  float: left;
  margin: 0 15px;
}

.main .group1{
  background: blanchedalmond;
  width: 250px;
}

.main .group2{
  width: 380px;
  background: skyblue;
}

.main .group3{
  width: 190px;
  background: chocolate;
}

.slogan {
  background: blue;
}

.footer {
  background: rebeccapurple;
  width: 100%;
}